@model BasicFramework.MobileWeb.Models.Resource.VehicleViewModel
@{
    ViewBag.Title = "承运商关联车辆信息";
    Layout = "~/Views/_MyLayoutPage.cshtml";
}
<div>
    <input id="txt_search" type="text" class="txt_search" placeholder="输入关键字">
    <button type="button" class="btn_search" onclick="search();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
     
    <input id="hiddenid" type="hidden"  value="@ViewData["id"].ToString()"/> 
</div>
@if (Model.CRMVehicleCollection != null && Model.CRMVehicleCollection.Count() > 0)
{
    <div class="myList">
        <ul class="list-group">
            @foreach (var item in Model.CRMVehicleCollection)
            {
                <li class="list-group-item">
                    <a href="/Resource/Vehicleinfos/@item.ID" style="color: #555;">
                        <h4><strong>车牌号：@item.CarNo</strong></h4>
                    </a>
                    <div style="">
                        <div style="float: left">上牌日期：<span>@item.BoardlotDate.ToString("yyyy-MM-dd")</span></div>
                        <div style="float: right">车身颜色：<span>@item.CarBodyColor</span></div>
                    </div>
                    <br />
                    <div style="">
                        <div style="float: left">车辆种类：<span class="text-danger">@item.CarType</span></div>
                        <div style="float: right">车牌种类：<span class="text-danger">@item.CarNumType</span></div>
                    </div>
                    <br />
                    <div style="">
                        <div style="float: left">所属公司：<span>@item.LogisticCompany</span></div>
                        <div style="float: right">公司联系人：<span>@item.LoadPerson</span></div>
                    </div>
                    <br />
                    <div style="">
                        <div style="float: left">运营证号：<span>@item.TrailerNo</span></div>
                        <div style="float: right">车辆尺寸：<span class="text-danger">@item.Size</span></div>
                    </div>
                    <br />
                    <div class="">保险有效截止日期：<span>@item.InsuranceEndDate.ToString("yyyy-MM-dd")</span></div>
                    <div class="">加入虹迪服务时间：<span>@item.StartServiceDate.ToString("yyyy-MM-dd")</span></div>
                </li>
            }
        </ul>
    </div>

    <div class="pageMore" onclick="getVehicleMore();">
        <div class="bg-primary">加载更多</div>
    </div>
}
