@model BasicFramework.Web.Areas.ShipperManagement.Models.VehicleDriverMappingViewModel
@Url.jsrender()
@Url.Json2() 
<link href='/Content/Common/Pager.css' rel='stylesheet' type='text/css' />
@using (Html.BeginForm())
{
     
<fieldset>
    <legend>车辆司机管理</legend>
    <div class="row" style="width: 100%; float: left;">
        <div class="col-xs-4 col-md-4 col-sm-12">
            <div class="input-group">
                <div class="input-group-addon"><span>车牌号码 <span style="color: red;"></span></span></div>
                @Html.TextBoxFor(m => m.VehicleNo)
                @Html.HiddenFor(m => m.VID)
            </div>
        </div>
    </div>
    <div class="row" style="float: left; margin-top: 30px;">
        <div class="col-xs-4 col-md-4 col-sm-12">
            <div class="input-group">
                <div class="input-group-addon"><span>司机姓名</span></div>
                @Html.TextAreaFor(m => m.DriverName)
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="查询" id="searchButton" name="Action" />
    </div>
    <div class="row" style="margin-top: 30px; float: left;">
            @if (Model.Driver != null && Model.Driver.Any())
            {
                <ul> 
                    @foreach (var item in Model.Driver)
                    {
                        if (string.IsNullOrEmpty(item.VID))
                        {
                        <li id="@item.DriverName" class="wrap">
                            <span class="glyphicon glyphicon-user" style="color: #2e6da4; font-size: 30px;">@item.DriverName</span>
                        </li>    
                    }
                    else
                        {
                        <li id ="@item.DriverName" class="wrap">
                            <span class="glyphicon glyphicon-user" style="color: red; font-size: 30px;">@item.DriverName</span>
                        </li>
                    }
                }
                </ul>
            }
        </div>


</fieldset>
}



<script id="Evaluation" type="text/x-jsrender">
     <tr>
         <td>
             <input type="checkbox" name="checkbox" id="{{:ID}}" data-id="{{:ID}}" value="{{:DriverName}}" class="select" />
             </td>
             <td>{{:DriverName}}</td>
             <td>{{:DriverPhone}}</td>
         </tr>
</script>

<script id="Evaluations" type="text/x-jsrender">
     <tr>
         <td>
             <input type="checkbox" name="checkbox" id="{{:DriverName}}" data-id="{{:DriverName}}" value="{{:DriverName}}" class="select" />
             </td>
             <td>{{:DriverName}}</td>
             <td>{{:DriverPhone}}</td>
         </tr>
</script>